// By convention, styles go in components/component_name/style.l.styl.
// These styles are locally scoped, so use camelCase and import them.

.container
  display flex
  flex-direction column
  justify-content center
  align-items center
  width 100%
  height 100%

.main
  height 90%
  overflow auto
