@import '~styles/colors'

.spinnerContainer
  padding 5rem
  display flex
  flex-direction column
  align-items center
  justify-content center
  > *
    margin 1rem

.info
  font-size 2rem
  color $c-info

.error
  font-size 5rem
  color $c-error
