// Style for main app structure.

@import '../../styles/colors'
@import '../../styles/mixins'

$nav-height = 5rem
$nav-spacing = 2rem

.navbar
  position fixed
  top 0
  left 0
  right 0
  height $nav-height

  display flex
  align-items center
  background white
  border-bottom 1px solid black

.brand
  vcenter()
  font-size 2rem
  > a
    vcenter()
    padding 0 ($nav-spacing / 2)
    &:hover
      color white
      background $brand

.navMenu
  vcenter()
  margin $nav-spacing
  list-style none
  margin 0
  > li
    vcenter()
    margin 0
    > a
      vcenter()
      padding 0 ($nav-spacing / 2)
      &:hover
        background $light-gray

.content
  padding-top $nav-height
