// 404 styles.

.errorMain
  display flex
  flex-direction column
  align-items center
  justify-content center

  font-family monospace
  color grey

.errorCode
  font-size 10em

.errorMessage
  font-size 5em
